//
   Created by fabiancote06 on 4/4/14.
block append content

    .head
        .topmenu
        .mainMenu
            a(href='#')
                h1
            ol
                li
                    | Sobre Postgrados
                li
                    | Admisiones

block publicMenu

