//
   Created by fabiancote on 7/21/14.

h1 Registro de docentes

h2 Asignatura:
    strong #{asignatura.nombre}

a(href="/docente/#{asignatura.id}/create") Agregar un nuevo docente
br
a(href="/docente/#{asignatura.id}/select") Seleccionar de una lista de docentes
br