//
   Created by fabiancote on 7/17/14.

h1 Pensums Academicos
p ERROR, al crear el pensum, en el sistema ya se encuentra registrado un pensum con el mismo nombre.
a(href="/postgrado/#{postgrado}") &#9166;regresar.

br

