//
   Created by fabiancote on 7/25/14.
h1 Editor de Directores

form(method="PUT", action="/director/edit")
    legend
        | Nombres del director
        input(type="text", name="nombres", autocomplete="off", required)
    legend
        | apellidos del director
        input(type="text", name="apellidos", autocomplete="off", required)
    legend
        | Tipo de documento
        select(name="tipodoc")
            option(value="Cédula de ciudadanía") Cédula de ciudadanía
            option(value="Pasaporte") Pasaporte
            option(value="Cédula de Extranjería") Cédula de Extranjería
    legend
        | Número de documento
        input(type="text", name="numdoc", autocomplete="off", required)
    legend
        | Email
        input(type="email", name="email", autocomplete="off", required)
    legend
        | teléfono
        input(type="number", name="teléfono", autocomplete="off", required)

br
