//
   Created by Cesar Fabian Cote Guerrero - Universidad Francisco de Paula Santander - 2014.

h1 Crear Programa Academico

form(method="POST", action="/programa")
    p nombre del programa
        input#nombre(type="text", name="nombre", placeholder="Nombre del Programa Academico")
    p: button(type="submit") crear programa

