//
   Created by fabiancote on 7/17/14.

h1 Insercion de materias
p ERROR, al crear la materia, en el pensum ya se encuentra registrado una materia con el mismo nombre.
a(href="/pensum/#{pensum}") &#9166;regresar.


br